body {
  line-height: 1.6;
  font-family: Lato, Helvetica Neue;
  background: #f7f7f7;
  margin: 0;
}

a {
  color: $brand-primary;
  text-decoration: none;
}

.top-bar {
  height: 2px;
  background: $brand-primary;
  background-image: linear-gradient(to right, map-values($flair));
  position: sticky;
  top: 0;
}

#main {
  margin-top: 50px;
  margin-bottom: 30px;
}

.text-muted {
  color: gray;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

@media (max-width: $screen-sm) {
  #main {
    margin-top: 0;
  }
}
