body {
  line-height: 1.6;
  font-family: Lato, Helvetica Neue;
  background: #f7f7f7;
  margin: 0;
}

a {
  color: $brand-primary;
  text-decoration: none;
}

.top-bar {
  height: 2px;
  background: $brand-primary;
  background-image: linear-gradient(to right, map-values($flair));
  position: sticky;
  top: 0;
}

#main {
  margin-top: 50px;
  margin-bottom: 30px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

%flex {
  margin-left: 15px;
  margin-right: 15px;
}

.flex-1 {
  @extend %flex;
  flex: 1;
}

.flex-2 {
  @extend %flex;
  flex: 2;
}

.flex-3 {
  @extend %flex;
  flex: 3;
}

.text-muted {
  color: gray;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
