.header {
  padding: 10px 15px;

  .logo {
    color: #ccc;
    font-weight: bold;
    font-size: 22px;
    padding: 5px;
    display: inline-block;

    &:hover {
      color: $brand-primary;
    }
  }
}
