.header {
  padding: 10px 15px;

  .logo {
    color: #ccc;
    font-weight: bold;
    font-size: 22px;
    padding: 5px;
    display: inline-block;

    &:hover {
      color: $brand-primary;
    }
  }

  nav {
    font-size: 14px;

    a {
      display: inline-block;
      padding: 2px 6px;
      border-radius: $border-radius;
      margin-left: 2px;

      &:not(.active):hover {
        background-color: #ddd;
      }
    }

    .active {
      background-color: $brand-primary;
      color: white;
    }
  }
}
