.menu {
  margin-top: 78px;

  nav {
    margin-bottom: 30px;
  }

  a {
    display: block;
    padding: 4px 15px 6px;
    border-radius: $border-radius;
    margin-bottom: 2px;

    &:not(.active):hover {
      background-color: #ddd;
    }
  }

  .active {
    background-color: $brand-primary;
    color: white;
  }

  @each $name, $value in $flair {
    .active-#{$name} {
      background-color: $value;

      &:hover {
        background: darken($value, 10%);
      }
    }
  }
}
