.menu {
  margin-top: 78px;
  position: sticky;
  top: 20px;

  nav {
    margin: 10px 0;
  }

  a {
    display: block;
    padding: 4px 15px 6px;
    border-radius: $border-radius;
    margin-bottom: 2px;

    &:not(.active):hover {
      background-color: #ddd;
    }
  }

  .active {
    background-color: $brand-primary;
    color: white;
  }

  @each $name, $value in $flair {
    .active-#{$name} {
      background-color: $value;

      &:hover {
        background: darken($value, 10%);
      }
    }
  }

  @media (max-width: $screen-sm) {
    margin-top: 0;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    a {
      display: inline-block;
    }
  }
}
