.search-container {
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 12px 15px;
    font-size: 17px;
    border: none;
    background: #eee;
    border-radius: 4px;
    outline: none;

    &:focus {
      background: #fff;
    }
  }
}
