.search-container {
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 12px 15px;
    font-size: 17px;
    border: none;
    background-color: #dfdfdf;
    border-radius: $border-radius;
    outline: none;
    transition: background-color 200ms ease-out;

    &:hover {
      background-color: #d6d6d6;
    }

    &:focus {
      background-color: #fff;
    }
  }
}
