$brand-primary: #1F87FF;

$flair: (
  all: $brand-primary,
  selling: #5a92fa,
  buying: #f5b400,
  trading: #9f46f2,
  group-buy: #669998,
  vendor: #ff841c,
  interest-check: #ba6251,
  artisan: #aca13f,
  meta: #65b354
)
