$brand-primary: #001f3f;
$border-radius: 4px;

$screen-sm: 480px;

$new-posts: #FF851B;

$flair: (
  all: $brand-primary,
  selling: #0074D9,
  buying: #F012BE,
  trading: #B10DC9,
  group-buy: #39CCCC,
  vendor: #FF851B,
  interest-check: #FF4136,
  artisan: #7FDBFF,
  meta: #2ECC40
)
