[class^="col-"] {
  padding: 0 15px; }

.container {
  max-width: 1200px; }

.d-flex {
  display: flex; }

input, select {
  width: 100%;
  margin: 0; }

label {
  display: block;
  font-weight: bold;
  padding: 3px 0; }

label input {
  width: auto;
  margin-right: 6px; }

.button, button {
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #001f3f;
  padding: 5px 8px;
  cursor: pointer; }
  .button:hover, button:hover {
    background-color: #003872; }

.button-outline {
  background: none;
  border: 1px solid #001f3f;
  color: #001f3f; }
  .button-outline:hover {
    background: none;
    border-color: #0051a5;
    color: #0051a5; }

.all-text {
  color: #001f3f; }

.all-bg {
  background: #001f3f; }

a.all-bg {
  color: white; }
  a.all-bg:hover {
    background: #00060c; }

.selling-text {
  color: #0074D9; }

.selling-bg {
  background: #0074D9; }

a.selling-bg {
  color: white; }
  a.selling-bg:hover {
    background: #0059a6; }

.buying-text {
  color: #F012BE; }

.buying-bg {
  background: #F012BE; }

a.buying-bg {
  color: white; }
  a.buying-bg:hover {
    background: #c30c9a; }

.trading-text {
  color: #B10DC9; }

.trading-bg {
  background: #B10DC9; }

a.trading-bg {
  color: white; }
  a.trading-bg:hover {
    background: #870a99; }

.group-buy-text {
  color: #39CCCC; }

.group-buy-bg {
  background: #39CCCC; }

a.group-buy-bg {
  color: white; }
  a.group-buy-bg:hover {
    background: #2ba7a7; }

.vendor-text {
  color: #FF851B; }

.vendor-bg {
  background: #FF851B; }

a.vendor-bg {
  color: white; }
  a.vendor-bg:hover {
    background: #e76b00; }

.interest-check-text {
  color: #FF4136; }

.interest-check-bg {
  background: #FF4136; }

a.interest-check-bg {
  color: white; }
  a.interest-check-bg:hover {
    background: #ff1103; }

.artisan-text {
  color: #7FDBFF; }

.artisan-bg {
  background: #7FDBFF; }

a.artisan-bg {
  color: white; }
  a.artisan-bg:hover {
    background: #4ccdff; }

.meta-text {
  color: #2ECC40; }

.meta-bg {
  background: #2ECC40; }

a.meta-bg {
  color: white; }
  a.meta-bg:hover {
    background: #25a233; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  line-height: 1.6;
  font-family: Lato, Helvetica Neue;
  background: #f7f7f7;
  margin: 0; }

a {
  color: #001f3f;
  text-decoration: none; }

.top-bar {
  height: 2px;
  background: #001f3f;
  background-image: linear-gradient(to right, #001f3f, #0074D9, #F012BE, #B10DC9, #39CCCC, #FF851B, #FF4136, #7FDBFF, #2ECC40);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }

#main {
  margin-top: 50px;
  margin-bottom: 30px; }

.text-muted {
  color: gray; }

.text-small {
  font-size: 70%; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-normal {
  font-weight: normal; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

@media (max-width: 480px) {
  #main {
    margin-top: 0; } }

.header {
  padding: 10px 15px; }
  .header .logo {
    color: #ccc;
    font-weight: bold;
    font-size: 22px;
    padding: 5px;
    display: inline-block; }
    .header .logo:hover {
      color: #001f3f; }
  .header nav {
    font-size: 14px; }
    .header nav a {
      display: inline-block;
      padding: 2px 12px 3px;
      border-radius: 16px;
      margin-left: 2px; }
      .header nav a:not(.active):hover {
        background-color: #ddd; }
    .header nav .active {
      background-color: #001f3f;
      color: white; }

.footer {
  border-top: 2px solid #eee; }

.menu {
  margin-top: 78px;
  position: sticky;
  top: 20px; }
  .menu nav {
    margin: 10px 0; }
  .menu a {
    display: block;
    padding: 4px 15px 6px;
    border-radius: 4px;
    margin-bottom: 2px; }
    .menu a:not(.active):hover {
      background-color: #ddd; }
  .menu .active {
    background-color: #001f3f;
    color: white; }
  .menu .active-all {
    background-color: #001f3f; }
    .menu .active-all:hover {
      background: #00060c; }
  .menu .active-selling {
    background-color: #0074D9; }
    .menu .active-selling:hover {
      background: #0059a6; }
  .menu .active-buying {
    background-color: #F012BE; }
    .menu .active-buying:hover {
      background: #c30c9a; }
  .menu .active-trading {
    background-color: #B10DC9; }
    .menu .active-trading:hover {
      background: #870a99; }
  .menu .active-group-buy {
    background-color: #39CCCC; }
    .menu .active-group-buy:hover {
      background: #2ba7a7; }
  .menu .active-vendor {
    background-color: #FF851B; }
    .menu .active-vendor:hover {
      background: #e76b00; }
  .menu .active-interest-check {
    background-color: #FF4136; }
    .menu .active-interest-check:hover {
      background: #ff1103; }
  .menu .active-artisan {
    background-color: #7FDBFF; }
    .menu .active-artisan:hover {
      background: #4ccdff; }
  .menu .active-meta {
    background-color: #2ECC40; }
    .menu .active-meta:hover {
      background: #25a233; }
  @media (max-width: 480px) {
    .menu {
      margin-top: 0;
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
      .menu a {
        display: inline-block; } }

.search-container {
  margin-bottom: 20px; }
  .search-container input {
    width: 100%;
    padding: 12px 15px;
    font-size: 17px;
    border: none;
    background-color: #dfdfdf;
    border-radius: 4px;
    outline: none;
    transition: background-color 200ms ease-out; }
    .search-container input:hover {
      background-color: #d6d6d6; }
    .search-container input:focus {
      background-color: #fff; }

.posts {
  transition: opacity 150ms ease-in-out;
  opacity: 1; }
  .posts .location {
    color: gray;
    font-size: small; }
  .posts .post {
    display: block;
    font-weight: 500;
    padding: 15px;
    color: #222;
    font-size: 18px;
    background: #fff;
    margin-bottom: 25px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 100ms ease-in-out;
    border-radius: 4px;
    border: 2px solid transparent; }
    .posts .post .images {
      font-size: 14px; }
      .posts .post .images a {
        display: block; }
    .posts .post:hover {
      border-color: #001f3f;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15); }
    .posts .post.type-all:hover {
      border-color: #001f3f; }
    .posts .post.type-selling:hover {
      border-color: #0074D9; }
    .posts .post.type-buying:hover {
      border-color: #F012BE; }
    .posts .post.type-trading:hover {
      border-color: #B10DC9; }
    .posts .post.type-group-buy:hover {
      border-color: #39CCCC; }
    .posts .post.type-vendor:hover {
      border-color: #FF851B; }
    .posts .post.type-interest-check:hover {
      border-color: #FF4136; }
    .posts .post.type-artisan:hover {
      border-color: #7FDBFF; }
    .posts .post.type-meta:hover {
      border-color: #2ECC40; }
  .posts .load-more {
    padding: 15px;
    display: block;
    text-align: center;
    border-radius: 4px; }
    .posts .load-more:hover {
      background: #eee; }
    .posts .load-more.load-more-disabled {
      color: gray; }
      .posts .load-more.load-more-disabled:hover {
        background: none; }
  .posts .post-meta {
    font-size: small; }
    .posts .post-meta span {
      margin-right: 15px; }
      .posts .post-meta span.pull-right {
        margin-right: 0;
        margin-left: 15px; }
